.ButtonDefault {
  background: #F52C44;
  border-radius: 28px;
  font-size: 16px;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: MontserratBold;
}

/*при наведении*/
.ButtonDefault--active:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #F52C44
}

/*при нажатии*/
.ButtonDefault--active:active {
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.1), rgba(51, 51, 51, 0.1)), #F52C44;
}

/*дизейблед*/
.ButtonDefault--disabled {
  background: #DFE1E5;
  color: #9FA6A9;
}