.EnterScreen {
  /*background: url("../../assets/img/enter_test_x.jpg");*/
  background-color: #db1818;
  background-size: 100% 100%;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.EnterScreen .english {
  background: url("../../assets/img/self-study.png") no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 40vh;
  margin-top: 8vh;
}

.EnterScreen .text {
  color: white;
  font-size: 4.5vw;
  font-weight: 600;
  margin: 0 5vw;
  margin-top: 5vh;
}

.EnterScreen .button {
  background: white;
  color: black;
  font-weight: 600;
  font-size: 8vw;
  width: 80vw;
  height: 12vw;
  padding-top: 2vw;
  border-radius: 10vw;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}